name: CI - Build and Test Docker Image

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t ai-sentiment-lab:test .

      - name: Run container test
        run: |
          docker run -d -p 8501:8501 --name test-app ai-sentiment-lab:test
          sleep 10
          docker ps


